parameters:
	ignoreErrors:
		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:keyExists\\(\\) with array\\{\\.tag\\: string, name\\: string, path_lower\\: string, path_display\\: string, id\\: string, client_modified\\?\\: string, server_modified\\?\\: string, rev\\?\\: string, \\.\\.\\.\\} and '\\.tag' will always evaluate to true\\.$#"
			count: 1
			path: src/Bridge/Dropbox/Domain/Value/DropboxResource.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:keyExists\\(\\) with array\\{\\.tag\\: string, name\\: string, path_lower\\: string, path_display\\: string, id\\: string, client_modified\\?\\: string, server_modified\\?\\: string, rev\\?\\: string, \\.\\.\\.\\} and 'name' will always evaluate to true\\.$#"
			count: 1
			path: src/Bridge/Dropbox/Domain/Value/DropboxResource.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:keyExists\\(\\) with array\\{\\.tag\\: string, name\\: string, path_lower\\: string, path_display\\: string, id\\: string, client_modified\\?\\: string, server_modified\\?\\: string, rev\\?\\: string, \\.\\.\\.\\} and 'path_lower' will always evaluate to true\\.$#"
			count: 1
			path: src/Bridge/Dropbox/Domain/Value/DropboxResource.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with bool will always evaluate to true\\.$#"
			count: 1
			path: src/Bridge/Dropbox/Domain/Value/DropboxResource.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with string will always evaluate to true\\.$#"
			count: 3
			path: src/Bridge/Dropbox/Domain/Value/DropboxResource.php

		-
			message: "#^Method App\\\\Bridge\\\\Faker\\\\Provider\\\\ArrayProvider\\:\\:array\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/Faker/Provider/ArrayProvider.php

		-
			message: "#^Method App\\\\Bridge\\\\Faker\\\\Provider\\\\ArrayProvider\\:\\:arrayOrEmptyArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/Faker/Provider/ArrayProvider.php

		-
			message: "#^Method App\\\\Bridge\\\\Faker\\\\Provider\\\\ArrayProvider\\:\\:emptyArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Bridge/Faker/Provider/ArrayProvider.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:startsWith\\(\\) with string and string will always evaluate to true\\.$#"
			count: 1
			path: src/Bridge/Flysystem/UrlGenerator.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\\:\\:getFlashBag\\(\\)\\.$#"
			count: 1
			path: src/Controller/Security/UploadController.php

		-
			message: "#^Method App\\\\Crud\\\\Edit\\\\Form\\\\FormTypeFactory\\:\\:create\\(\\) should return App\\\\Crud\\\\Edit\\\\Form\\\\FormTypeFactoryLoadableInterface but returns App\\\\Crud\\\\Edit\\\\Form\\\\FormTypeFactoryLoadableInterface\\|false\\.$#"
			count: 1
			path: src/Crud/Edit/Form/FormTypeFactory.php

		-
			message: "#^Match arm comparison between \\$this\\(App\\\\Domain\\\\Enum\\\\Category\\)&App\\\\Domain\\\\Enum\\\\Category\\:\\:Unknown and App\\\\Domain\\\\Enum\\\\Category\\:\\:Unknown is always true\\.$#"
			count: 1
			path: src/Domain/Enum/Category.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Domain/Enum/Category.php

		-
			message: "#^Class DateTimeImmutable is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTimeImmutable;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 2
			path: src/Entity/Document.php

		-
			message: """
				#^Fetching deprecated class constant ARRAY of class Doctrine\\\\DBAL\\\\Types\\\\Types\\:
				Use \\{@link Types\\:\\:JSON\\} instead\\.$#
			"""
			count: 1
			path: src/Entity/Document.php

		-
			message: "#^Class DateTimeImmutable is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTimeImmutable;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: src/Entity/Source.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:getPassword\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$password type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Call to method \\$this\\(App\\\\Repository\\\\SourceRepository\\)\\:\\:findBy\\(\\) \\- entity App\\\\Entity\\\\Source does not have a field named \\$storageType\\.$#"
			count: 1
			path: src/Repository/SourceRepository.php

		-
			message: "#^Instanceof between App\\\\Entity\\\\User and App\\\\Entity\\\\User will always evaluate to true\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Parameter \\#1 \\$response of static method App\\\\Bridge\\\\Dropbox\\\\Domain\\\\Value\\\\DropboxResource\\:\\:fromResponse\\(\\) expects array\\{\\.tag\\: string, name\\: string, path_lower\\: string, path_display\\: string, id\\: string, client_modified\\?\\: string, server_modified\\?\\: string, rev\\?\\: string, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/Source/Import/DropboxImporter.php

		-
			message: "#^Match arm comparison between \\$this\\(App\\\\Source\\\\Value\\\\Type\\)&App\\\\Source\\\\Value\\\\Type\\:\\:Dropbox and App\\\\Source\\\\Value\\\\Type\\:\\:Dropbox is always true\\.$#"
			count: 2
			path: src/Source/Value/Type.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 2
			path: src/Source/Value/Type.php

		-
			message: "#^Call to function is_resource\\(\\) with resource will always evaluate to true\\.$#"
			count: 1
			path: src/Storage/TempFileWriter.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: tests/Acceptance/AcceptanceDummyTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: tests/AutoReview/AutoReviewDummyTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getContent\\(\\)\\.$#"
			count: 1
			path: tests/Functional/AppBrowser.php

		-
			message: "#^Method App\\\\Tests\\\\Functional\\\\AppBrowser\\:\\:visitWithQueryParameters\\(\\) has parameter \\$queryParameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Functional/AppBrowser.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\IntegrationTestCase\\:\\:createKernel\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/IntegrationTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\IntegrationTestCase\\:\\:formatAndContextSpecificSerializer\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/IntegrationTestCase.php

		-
			message: "#^Call to static method App\\\\Tests\\\\Unit\\\\UnitTestCase\\:\\:assertSame\\(\\) with 'Bitte auswählen' and 'Bitte auswählen' will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Form/ChoicesTest.php

		-
			message: "#^Call to static method App\\\\Tests\\\\Unit\\\\UnitTestCase\\:\\:assertSame\\(\\) with 'admin_dashboard' and 'admin_dashboard' will always evaluate to true\\.$#"
			count: 1
			path: tests/Unit/Routing/AdminRoutesTest.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\DataProvider\\\\GenericProvider\\:\\:allKindsOfValues\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Util/DataProvider/GenericProvider.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Serializer\\\\SerializerInterface\\:\\:normalize\\(\\)\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\Serializer\\\\FormatAndContextSpecificSerializer\\:\\:__construct\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\Serializer\\\\FormatAndContextSpecificSerializer\\:\\:normalize\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\Serializer\\\\FormatAndContextSpecificSerializer\\:\\:normalize\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\Serializer\\\\FormatAndContextSpecificSerializer\\:\\:serialize\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\Serializer\\\\FormatAndContextSpecificSerializer\\:\\:serialize\\(\\) has parameter \\$data with no type specified\\.$#"
			count: 1
			path: tests/Util/Serializer/FormatAndContextSpecificSerializer.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\TestKernel\\:\\:create\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Util/TestKernel.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\TestKernel\\:\\:debug\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Util/TestKernel.php

		-
			message: "#^Method App\\\\Tests\\\\Util\\\\TestKernel\\:\\:environment\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Util/TestKernel.php
