// A helper to easily use webfonts

// Sample input:
// @include font-face('PT Sans', 'pt-sans-latin-regular', $weight: 400, $style: normal);
//
// Sample output:
// @font-face {
//   font-family: "PT Sans";
//   src: url("pt-sans-latin-regular.woff2") format("woff2"), url("pt-sans-latin-regular.woff") format("woff");
//   font-weight: 400;
//   font-style: normal;
// }

@mixin font-face($font-name, $file-name, $weight: false, $style: false) {
  @font-face {
    font-family: quote($font-name);
    src: url('../../../fonts/' + $file-name  + '.woff2') format('woff2'), url('../../../fonts/' + $file-name  + '.woff') format('woff');

    @if $weight {
      font-weight: $weight;
    }

    @if $style {
      font-style: $style;
    }
  }
}
