// This is the font-preset manifest file where all font-size and line-height combinations are collected.
// To ensure that every font-size gets a corresponsing line-height, we store these combinations inside a Sass map.
// Do not throw a single "font-size: 10px;" somewhere into a stylesheet.

// Usage:
//
// Define your font-presets:
// $font-presets: (
//   12/18: (
//     font-size: 12px,
//     line-height: 1.5
//   )
// );
//
// Sample input:
// .selector {
//   @include font-size('12/18');
// }
//
// Sample output:
// .selector {
//   font-size: 12px;
//   line-height: 1.5;
// }

// Only use these pre-defined font-presets in your stylesheets to set your font-sizes and line-heights.
$font-presets: (
  '10/10': (
    font-size: 10px,
    line-height: 1
  ),
  '12/12': (
    font-size: 12px,
    line-height: 1
  ),
  '12/15': (
    font-size: 12px,
    line-height: 1.25
  ),
  '12/18': (
    font-size: 12px,
    line-height: 1.5
  ),
  '14/14': (
    font-size: 14px,
    line-height: 1
  ),
  '14/18': (
    font-size: 14px,
    line-height: 1.28571428
  ),
  '14/21': (
    font-size: 14px,
    line-height: 1.5
  ),
  '16/16': (
    font-size: 16px,
    line-height: 1
  ),
  '16/20': (
    font-size: 16px,
    line-height: 1.25
  ),
  '18/18': (
    font-size: 18px,
    line-height: 1
  ),
  '20/20': (
    font-size: 20px,
    line-height: 1
  ),
  '24/24': (
    font-size: 24px,
    line-height: 1
  ),
  '32/32': (
    font-size: 32px,
    line-height: 1
  ),
  '48/48': (
    font-size: 48px,
    line-height: 1
  ),
  '48/64': (
    font-size: 48px,
    line-height: 1.33333333
  )
);

// Fetch deeply nested values from a map
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Get your font-size and line-height combination by using a preset from the Sass map '$font-presets' above
@mixin font-preset($preset) {
  @if not map-has-key($font-presets, $preset) {
    @error 'No definition found for #{inspect($preset)} in $font-presets map.';
  }

  $font-size: map-deep-get($font-presets, $preset, 'font-size');
  $line-height: map-deep-get($font-presets, $preset, 'line-height');
  font-size: $font-size;
  line-height: $line-height;
}
