<!DOCTYPE html>
<html class="h-full bg-white" lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scanio{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="h-full">
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
