<!DOCTYPE html>
<html class="h-full bg-white" lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scanio{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="h-full">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
