@media (min-width: 768px) {
  .col--flex {
    display: flex;
    flex-direction: column;
  }

  .col__scroll-box {
    @include scroll-box;
    flex: 1;
  }
}

@media (max-width: 767px) {
  .col--flex + .col--flex {
    margin-top: 20px;
  }
}
