.main-nav,
.main-nav--level-1,
.main-nav--level-2 {
  margin: 0;
  list-style: none;
}

.main-nav--level-0,
.main-nav--level-1 {
  padding-left: 0;
}

.main-nav--level-2 {
  padding-left: 15px;
}

.main-nav__item {
  .main-nav--level-0 > & {
    border-bottom: 1px solid $color-border-light;
    padding: 8px 0;
  }
}

.main-nav__link {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: $color-text-light;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
    color: $color-text-loud;
  }

  &.active {
    font-weight: 600;
    color: $color-text-loud;
  }

  > .fa-caret-up {
    display: none;
  }

  > .fa-caret-down {
    display: block;
  }

  &[aria-expanded='true'] {
    .fa-caret-up {
      display: block;
    }

    .fa-caret-down {
      display: none;
    }
  }
}

.main-nav__link--level-0 {
  @include font-preset('18/18');
  padding: 7px 0;
}
