@media (min-width: 768px) {
  .row--flex {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .row--flex {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
