// stylelint-disable selector-max-combinators, selector-no-qualifying-type, declaration-no-important, value-no-vendor-prefix
.app {
  background-color: inherit;
}

.app__main {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

// Mobile Safari Fix
@supports (-webkit-touch-callout: none) {
  .app__main {
    height: -webkit-fill-available;
  }
}

// Sidebar
.app__sidebar {
  @include font-smoothing;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: inherit;
  padding: 0;
  background-color: $color-background-accent;
  transition: inherit;

  &::before {
    content: none;
  }
}

.app__sidebar__brand {
  @include font-preset('32/32');
  display: inline-block;
  margin: 0 15px 20px;
  font-weight: 700;
  color: $color-text-light;
}

.app__sidebar__brand:focus,
.app__sidebar__brand:hover,
.app__sidebar__brand:active {
  text-decoration: none;
  color: $color-text-loud;
}

.app__sidebar__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 15px 0;
}

.app__sidebar__main-box {
  @include scroll-box;
  padding: 0 15px;
}

.app__sidebar__link {
  display: block;
}

.app__sidebar__link-image {
  display: block;
}

.app__sidebar__footer {
  padding: 10px 15px;
  background-color: $color-background-obtrusive;
}

.app__sidebar__actions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app__sidebar__actions-link {
  display: block;
  padding: 6px 0;
  color: $color-text-light;
}

.app__sidebar__actions-link:focus,
.app__sidebar__actions-link:hover,
.app__sidebar__actions-link:active {
  text-decoration: none;
  color: $color-text-loud;
}

.app__sidebar-toggle {
  top: 19px;
  left: 25px;
  padding: 5px;
  transition: none;
}

.app__sidebar-toggle:hover {
  color: $color-text-obtrusive-hover;
}

// Content
.app__content {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  border: 0;
  padding: 23px 30px 15px;
}

.app__content__breadcrumb {
  margin-bottom: 27px;
  border-radius: 0;
  padding-left: 45px;
  background-color: transparent;

  > li + li::before {
    padding: 0 3px;
  }
}

.app__content__header {
  margin-top: 0;
  padding-bottom: 11px;
}

.app__content__header--with-margin {
  margin-bottom: 20px;
}

.app__content__header__extra-actions {
  margin-top: 0;
}

.app__content__header + .app__filter {
  margin-top: -20px;
}

.app__content__header__title {
  @include font-preset('32/32');
  padding: 1px 0;
}

.app__filter__holder {
  overflow: auto;
  max-height: 288px;
}

.app__filter__toggle .fa {
  margin-left: 5px;
}

// Media Queries
@media (min-width: 992px) {
  .app__sidebar {
    .app__main--altered-state & {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .app__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding-right: 0;
    padding-top: 0 !important;
    transform: translateX(-250px);

    .app__main--altered-state & {
      transform: translateX(0);
    }
  }

  // Mobile Safari Fix
  @supports (-webkit-touch-callout: none) {
    .app__sidebar {
      height: -webkit-fill-available;
    }
  }

  .app__content {
    width: 100%;

    .app__main--altered-state.app__main--has-sidebar & {
      transform: translateX(250px);
    }
  }
}

@media (min-width: 768px) {
  .app__filter__line select.form-control {
    min-width: 185px;
  }
}

@media (max-width: 767px) {
  .app__sidebar-toggle {
    left: 10px;
  }

  .app__content {
    padding: 23px 15px 15px;
  }
}
// stylelint-enable selector-max-combinators, selector-no-qualifying-type, declaration-no-important, value-no-vendor-prefix
