// stylelint-disable color-no-hex, selector-no-qualifying-type
.btn,
.fos_user_change_password input[type='submit'] {
  @include font-preset('16/20');
}

.btn-default:hover:not(.active) {
  border-color: #bebebe;
  background-color: #bebebe;
}

.btn-primary,
.fos_user_change_password input[type='submit'] {
  border-color: $color-border-obtrusive;
  background-color: $color-background-obtrusive;
}

.btn-primary.focus,
.btn-primary:focus,
.fos_user_change_password input.focus[type='submit'],
.fos_user_change_password input:focus[type='submit'] {
  border-color: $color-border-obtrusive-hover;
  background-color: $color-background-obtrusive-hover;
}

.btn-primary:hover:not(.active),
.fos_user_change_password input:hover:not(.active)[type='submit'] {
  border-color: $color-border-obtrusive-hover;
  background-color: $color-background-obtrusive-hover;
}

.btn-secondary {
  border-color: $color-border-loud;
  color: $color-text-obtrusive;
  background-color: $color-background-loud;

  &:focus,
  &:hover {
    color: $color-text-obtrusive;
    border-color: $color-border-loud-hover;
    background-color: $color-background-loud-hover;
  }
}

.btn-dropdown-menu {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}
// stylelint-enable color-no-hex, selector-no-qualifying-type
