// stylelint-disable selector-max-combinators
.navbar {
  min-height: 44px;
}

.navbar-brand {
  height: 44px;
  line-height: 20px;
}

.navbar-nav > li > a {
  @include font-preset('16/20');
  padding-top: 12px;
  padding-bottom: 12px;
}
// stylelint-enable selector-max-combinators
