.page-main-actions .btn {
  padding: 6px 10px;
}

@media (min-width: 768px) {
  .page-main-actions .btn {
    padding: 6px 20px;
  }
}

@media (min-width: 320px) {
  .page-main-actions {
    margin: 10px 0 0;
  }
}
