// stylelint-disable selector-max-combinators, color-no-hex
.select2-container {
  max-width: none;

  .select2-selection--single {
    height: 40px;

    color: #404040;
    font-size: 16px;
    line-height: 1;
    max-width: inherit;

    .select2-selection__rendered {
      padding-left: 10px;
      padding-right: 40px;
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    transition: border-color 0.15s ease-in-out;

    &:hover {
      border-color: $color-border-neutral;
    }

    .select2-selection__rendered {
      line-height: 40px;
      color: $color-text-unobtrusive;
    }

    .select2-selection__placeholder {
      color: $color-text-unobtrusive;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      padding: 6px 10px;
      border-radius: 3px;

      &:focus {
        outline: $color-border-obtrusive auto 2px;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $color-background-obtrusive;
  }
}

.select2-selection__arrow {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 10px;
  background-position: 50%;
  background-repeat: no-repeat;

  .select2-container--default .select2-selection--single & {
    right: 11px;
    height: 40px;
  }

  b {
    display: none;
  }
}

.select2-container--focus .select2-selection {
  outline: 0;
  border-color: $color-border-obtrusive-hover;
  box-shadow: 0 0 8px rgba($color-box-shadow-obtrusive, 0.6);
}
// stylelint-enable selector-max-combinators, color-no-hex
